  html{
    background-color: black;
  }
  .container-fluid{
    background-color: black;
  }
  .needPad{
    padding-top: 200px;
  }
  .welcomeName{
    padding-top: 15px;
  }
  .pictures{
    padding: 25px 25px 25px 0px;
  }
  #picTitle{
    font-family: 'savoye LET';
    font-size: 40px;
    color: orange;
  }
  #headerJumbo{
    height: 600px;
    width: 100%;
  }

  #selfie{
    height: 50px;
    width: 50px;
  }
  #socialIcons{
    display: inline-block;
    position: relative;
  }
  .socialMedia{
    height: 50px;
    width: 50px;
  }
  .col-centered{
    float: none;
    margin: 0 auto;
  }
  #name{
    font-family:'savoye LET';
    color: orange;
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
  }
  #selfie{
    height: 250px;
    width: 225px;
    border: 2px solid black;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 150px;
  }
  #git{
    background-color: orange;
    border-radius: 75px;
  }

  .stacks{
    display: inline-block;
    padding: 25px;
    color: orange;
    text-align: center;
  }
  .attributes{
    list-style-type: none;
    padding-right: 35px;
  }
  .stackLogo{
    height: 200px;
    width: 250px;
  }
  #game2fameLogo{
    height: 175px;
    width: 350px;
  }
  html{
    height: 100%;
    width: 100%;
  }
  #title{
    font-family:'savoye LET';
    display: inline-block;
    font-size: 35px;
    text-align: center;
    color: orange;
  }
  .center-block{
    margin-left: auto;
    margin-right: auto;
  }

  #headerJumbo{
    text-align: center;
    background-image: url("pics/collage.png");
    background-size: cover;

    width: 100%;
  }
  .appInfo{
    display: inline-block;
    color: orange;
    font-size: 18px;
  }
  .appScreenShots{
    display: inline-block;
    padding-left: 50px;
  }
  .appPictures{
    height: 600px;
    width: 950px;
    border-radius: 25px;
  }
  .appTechs{
    border-bottom: 2px solid orange;
  }
  .appTitle{
    font-size: 50px;
    font-family: 'savoye LET';
  }

  #shakeQuake{
    font-family: 'savoye LET';
    font-size: 50px;
  }
  #apiPics{
    width: 475px;
    display: inline-block;
    margin: 25px 25px 25px 25px;
    border: 2px solid orange;
    border-radius: 20px;
  }
  .shake:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  #earthScreenShots:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-8px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(8px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
  }


  #apiPics:hover {
    -webkit-filter: grayscale(0%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .5s ease-in-out;
    filter: grayscale(0%);
  }

  #apiPics {
    -webkit-filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: .5s ease-in-out;
    filter: grayscale(100%);
  }
  *{box-sizing: border-box;}
  .flowGrid:before,.flowGrid:after{
      content: "";
      display: table;
  }
  .flowGrid:after{
      clear:both;
  }
  .flowGridItem{ margin-bottom:10px;}
  .flowGridItem img{width:100%;}
  .flowGridColumn{
      float: left;
      padding-left: 10px;
  }
  .flowGridColumn:last-of-type{
      padding-right: 10px;
  }
