#name{
  font-family:'savoye LET';
  font-size: 75px;
  position: relative;
  top: 25px;
  color: white;;
}
html{
  height: 100%;
}
#headerJumbo{
  text-align: center;
  background-image: url("pics/sunset.jpg");
  background-size: cover;
  height: 650px;
}
#apiPics{
  width: 425px;
  margin: 15px;
}
#MEAN_Pic{
  border-radius: 20px;
}
#galleryDiv{
  background-color: black;
  color: orange;
  margin-top: -30px;
}
#picTitle{
  font-family:'savoye LET';
  font-size: 30px;
}
#MEAN{
  margin-left: 100px;
  width: 318px;
  height: 600px;
  display: inline-block;
  border-radius: 20px;
}
#fullStack{
  text-align: center;
  color: orange;
  background-color: black;
  border-radius: 20px;
}
#meanAttributes{
  font-size: 20px;
  list-style-type: circle;
  margin-left: auto;
  margin-right: auto;
  color: orange;
  background-color: black;
  border-radius: 20px;
  width: 165px;
}
#pythonAttributes{
  font-size: 20px;
  list-style-type: circle;
  margin-left: auto;
  margin-right: auto;
  color: orange;
  background-color: black;
  border-radius: 20px;
  width: 165px;
}
#phpAttributes{
  font-size: 20px;
  list-style-type: circle;
  margin-left: auto;
  margin-right: auto;
  color: orange;
  background-color: black;
  border-radius: 20px;
  width: 165px;
}
#title{
  color: white;
}
#python{
  display: inline-block;
  border-radius: 20px;
  width: 318px;
  height: 600px;
  position: absolute;
  margin: 0px 0 0 -150px;
  left: 50%;
}
#php{
  margin-right: 100px;
  width: 318px;
  height: 600px;
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
}
#pythonPic{
  margin-left: 40px;
  height: 210px;
  width: 230px;
}
#galleria{
  display: inline-block;
}
#phpPic{
  height: 210px;
  width: 300px;
  margin-left: 10px;
}
#stacksJumbo{
  height: 750px;
  margin-top: -30px;
  background-image: url("pics/bus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 5px solid black;
}
#MEAN, #python, #php{
  margin-top: 45px;
}
#aboutGame{
  display: inline-block;
  height: 800px;
  width: 400px;
  margin-left: 50px;
  background-color: black;
  border-radius: 20px;
  color: orange;
}
#gameScreenShots{
  display: inline-block;
  vertical-align: top;
  height: 550px;
  width: 950px;

}
#game2fame{
  height: 600px;
  width: 925px;
}
#jumboGame{
  height: 950px;
  margin-top: -30px;
  background-image: url("pics/chinatown.jpg");
  background-size: cover;
  border-top: 5px solid black;
}
#logo{
  height: 150px;
  width: 350px;
}
#techs{
  font-size: 20px;
}
#aboutHomie{
  display: inline-block;
  height: 650px;
  width: 400px;
  margin-left: 50px;
  background-color: #ABC7EC;
  border-radius: 20px;
}
#homieScreenShots{
  display: inline-block;
  vertical-align: top;
  height: 550px;
  width: 950px;

}
#homieApp{
  height: 600px;
  width: 925px;
}
#homieTechs{
  font-size: 20px;
}
#homieJumbo{
  margin-top: -30px;
  background-image: url("pics/buildings.jpg");
  background-size: cover;
  border-top: 5px solid black;
}
#projectHomie{
  text-align: center;
}
#summary{
  margin-left: 15px;
}
#facebook{
  height: 50px;
  width: 50px;
  display: inline-block;
}
#linkedin{
  height: 50px;
  width: 50px;
  display: inline-block;
}
#git{
  height: 50px;
  width: 50px;
  display: inline-block;
}
#twitter{
  height: 50px;
  width: 50px;
  display: inline-block;
}
#flickr{
  height: 50px;
  width: 50px;
  display: inline-block;
}
*{box-sizing: border-box;}
.flowGrid:before,.flowGrid:after{
    content: "";
    display: table;
}
.flowGrid:after{
    clear:both;
}
.flowGridItem{ margin-bottom:10px;}
.flowGridItem img{width:100%;}
.flowGridColumn{
    float: left;
    padding-left: 10px;
}
.flowGridColumn:last-of-type{
    padding-right: 10px;
}
@media only screen and (max-width: 768px) {
  #headerJumbo{
    text-align: center;
    background-image: url("pics/sunset.jpg");
    background-size: cover;
    height: 600px;
    width: 100%
  }
  #name{
    font-family:'savoye LET';
    font-size: 45px;
    position: relative;
    top: 10px;
    color: white;;
  }
  #selfie{
    height: 100px;
    width: 150px;
  }
  #title{
    font-size: 25px;
    color: white;
    font-family:'savoye LET';
  }
  #stacksJumbo{
    height: 550px;
    margin-top: -30px;
    background-image: url("pics/paris.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 5px solid black;
  }
  #MEAN{
    margin-left: 10px;
    width: 150px;
    height: 300px;
    display: block;
    border-radius: 20px;
    position: relative;
    bottom: 75px;
  }
  #python{
    display:block;
    border-radius: 20px;
    width: 160px;
    height:310px;
    margin-left: 40px;
    position: absolute;
    vertical-align: top;
  }
  #php{
    width: 160px;
    height: 300px;
    display: block;
    position: relative;
    right: 100px;
    bottom: 145px;

    border-radius: 20px;
  }
  #MEAN_Pic{
    height: 75px;
    width: 125px;
    position: relative;
    left: 12px;
  }
  #fullStack{
    text-align: center;
    color: orange;
    background-color: black;
    border-radius: 20px;
    font-size: 15px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  #pythonPic{
    position: relative;
    right: 28px;
    height: 125px;
    width: 125px;
  }
  #phpPic{
    height: 125px;
    width: 150px;
    margin-left: 10px;
  }
  #meanAttributes{
    font-size: 10px;
    list-style-type: circle;
    margin-left: auto;
    margin-right: auto;
    color: orange;
    background-color: black;
    border-radius: 20px;
    width: 150px;
  }
  #pythonAttributes{
    font-size: 10px;
    list-style-type: circle;
    margin-left: auto;
    margin-right: auto;
    color: orange;
    background-color: black;
    border-radius: 20px;
    width: 120px;
  }
  #phpAttributes{
    font-size: 10px;
    list-style-type: circle;
    margin-left: auto;
    margin-right: auto;
    color: orange;
    background-color: black;
    border-radius: 20px;
    width: 115px;
  }
  .jumbotron{
    width: 100%;
  }
  #jumboGame{
    height: 600px;
    margin-top: -30px;
    background-image: url("pics/golden.jpg");
    background-size: cover;
    border-top: 5px solid black;
  }
  #aboutGame{
    display: inline-block;
    height: 340px;
    width: 400px;
    margin-left: 5px;
    background: transparent;
    border-radius: 20px;
    color: orange;
    position: relative;
    bottom: 150px;
  }
  #summary{
    font-size:12px;
    background-color: black;
    border-radius: 5px;
  }
  #logo{
    height: 75px;
    width: 150px;
    position: relative;
    left: 125px;
  }
  #techs{
    font-size: 10px;
    position: relative;
    bottom: 55px;
    background-color: black;
    border-radius: 20px;
    width: 125px;
    left: 135px;
  }
  #projectHomie{
    font-size: 10px;
    position: relative;
    bottom: 35px;
  }
  #game2fame{
    position: relative;
    left: 590px;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    bottom: 175px;
  }
  #homieJumbo{
    margin-top: -30px;
    background-image: url("pics/gondola.jpg");
    background-size: cover;
    border-top: 5px solid black;
    height: 700px;
    border-bottom: 5px solid black;
  }
  #aboutHomie{
    display: inline-block;
    height: 310px;
    width: 325px;
    margin-left: 50px;
    background-color: #ABC7EC;
    border-radius: 20px;
    position: relative;
    bottom: 500px;
  }
  #homieTechs{
    font-size: 10px;
    position: relative;
    bottom: 55px;
    left: 95px;
  }
  #aboutHomie p{
    position: relative;
    right: 7px;
    background: transparent;
  }
  #homieJumbo h2{
    font-size: 16px;
    position: relative;
    top: 5px;
  }
  #homieApp{
    position: relative;
    left: 595px;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    bottom: 450px;
  }
  #homieScreenShots{

  }

  html{
    background-image: url("pics/gondola.jpg");
  }
}
